<!DOCTYPE html>
<!-- 数据表格 -->
<div xt-grid="obj in teamList"  order="" serach="" >
	<a xt-button ng-click="addTeam()" class="add" icon="plus">分配办件角色</a>
   	<!-- <div xt-grid-column property="flowOptName"  title="当前步骤">{{flowOptName}}</div> -->

    <div xt-grid-column property="stageName" title="办件角色"></div>

	<div xt-grid-column property="isAccountTime"  title="小组成员"></div>

	<div xt-grid-column xt-grid-operation title="操作">
		<a xt-button class="edit" ng-click="" >删除小组</a>
		<a xt-button class="edit" ng-click="parent.addTeam()" >增加成员</a>
	</div>
</div>